<div class="center jumbotron">
  <h1>TechYuts</h1>
  <!--<p>Aspiring Software Engineer</p>-->
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>